.top-nav{
    font-family:"proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    padding: 15px; }
    .top_nav a h2 {
        font-size: 30px;
        display: none;
        padding: 10px;
        color: #b3b3b3;

}

.top-nav-items a:link, .top-nav-items a:visited{
    text-decoration: none;
    color: white;
}
    .top-nav-items a:hover{
        text-decoration: underline;
        color:white;}

.header-title-nav-wrapper{
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}