html,body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    box-sizing: border-box; 
    font-family: Arial,"Lucida Grande",sans-serif;
}
* {
    box-sizing: inherit;
}
div {
    display: block;
}
ul {
    display: block;
    padding-inline-start: 50px;
    text-align: left;
}
.top-nav{
    font-family: "Poppins",Arial,sans-serif;
    text-align: center;
    padding: 55px;
}
.top-nav-list{
    position:relative;
    margin: 80px auto 0;
    width: 500px;
    height: 50px;
    font-size: 0;
    max-width: 90%;
}
.top-nav-item, .top-nav-item2{
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 10px;
    line-height: 25px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}
.top-nav-item a{
    color: white;
    text-decoration: none;
}
.top-nav-item2 a{
    color: black;
    text-decoration: none;
}
.header-nav-wrapper, .header-title-nav-wrapper{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    display: block;
    transform: scale(1.1); 
    margin-top: -20px;
}
.header-title-nav-wrapper{
    background-image: url('../img/bg.png');
    height: 100%;
    margin-top: 0px;
    
}
.page-header, .page-header-1{
    font-family: "proxima-nova",Arial,sans-serif;
    color:black;
    margin: auto;
    display: block;
    margin-top: -20px;
    max-width: 99%;
}
.page-header{
    color:white;
}
.header-text{
    width: 100%;
    text-align: center; }
    .page-header .header-text h1 {
        padding-top: 5%;
        font-size: 5.625em;
        font-weight: 200; }
    .page-header-1{
        font-size: 1.5em;
        font-weight: 200;
    }
    .page-header .header-text h2 {
        font-size: 1.625em;
        font-weight: 100; 
}
.page-intro-wrapper {
    display:flex;
    overflow:hidden;
    justify-content: center; 
    align-items: center; 
    flex-wrap:wrap;
    align-items: center;
    width: 100%;
    padding-top: 13%;
    padding-bottom: 12%;
}
.flex-direction{
    flex-direction:row;
  }
.page-intro-text{
    flex: 1;
    padding-bottom: 35px;
    padding-right: 35px;
    margin-left: 10%;
    max-width: 1200px;
    width: 100%;
    height:400px;
    }
    .page-intro-text h1 {
        margin-right:  17.5px;
        font-size: 3.10526em;
        font-weight:100;
        font-family: Arial,"Lucida Grande",sans-serif;
        line-height: 1.5;
        color: black }
    .page-intro-text text {
        margin-bottom: 0;
        font-size: 1.250em;
        font-family: Arial,"Lucida Grande",sans-serif;
        line-height: 1.5;
        color: black; }

.image-block{
    flex: 1;
    max-width: 400px;
    margin-right: 10%;
    position: relative;
    width: 100%;
    height: 500px;
    top: 0;}
    .image-block img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        margin: 0 auto;
    }
.site-footer{
    padding: 45px 0 0 0;
    display: block;
}
.site-footer-hr{
    border: none;
    overflow:auto;
    border-bottom: 1.5px solid #F5D48E;
    margin: 55px 0 0 0;
    height: 0.1px;
}
.footer-cont{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 40px;
    overflow:auto;
    background-color: #F9E6BD;
}
.footer-right{
    float:right;
    margin-right:20%;
    padding-right:1%;
}
.footer-icons{
    padding-bottom: 0;
    text-align: right;
    list-style-type: none;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 5px;
}
.social-icons-link{
    text-decoration: none;
    display:inline;
    touch-action: manipulation;
    padding:10px;
}
.fa-cog {
    color: grey;
}
.footer-text{
    width: 100%;
    float: right;
    text-align: right;}
    .footer-text a{
        margin-right: 20%;
        font-family: Arial,"Lucida Grande",sans-serif;
        color: gray;
        font-size: 1em;
    }
.cv-table{
    margin-left: 5%;
    margin-right: 5%;
    width:90%;
}.cv-table th{
    vertical-align:top;
}
.cv-item-title{
    text-align: left;
    font-size: 2.5em;
    font-weight:500;
    font-family: Arial,"Lucida Grande",sans-serif;
    line-height: 1.5;
    color: black;
}
.cv-list{
    padding:10px;
    padding-left:10em;
}
.cv-list-item, .cv-list-item1{
    list-style-type: none;
    font-size: 1.25em;
    font-weight:100;
    font-family: Arial,"Lucida Grande",sans-serif;
    padding: .25em;
}.cv-list-item1{
    list-style-type:circle;
}.cv-list-item li, .cv-list-item1 li{
    padding: .25em;
}
.publications-wrapper{
    margin-left: 5%;
    margin-right: 5%;
    width:90%;
    height:100%; /* remove later */
}
.pub-text{
    font-size: 1.25em;
    font-weight:normal;
    color: black;
}
@media screen and (max-width: 1200px) {
    .flex-direction{
        flex-direction:column;
    }
    .page-intro-text{
        order: 2;
    }
    .image-block{
        order: 1;
    }
    .footer-right{
        float: none;
        text-align: center;
        margin-right:0;
        padding-right:0;
    }
    .footer-icons{
        text-align: center;
        padding-right: 0;
    }
    .footer-text{
        text-align: center;
        float: center;}
        .footer-text a{
            margin-right: 0;
        }
  }