#mod_rewrite starts here

RewriteEngine on

# does not apply to existing directories, meaning that if the folder exists on the server then don't change anything and don't run the rule

RewriteCond %{REQUEST_FILENAME} !-d

# Check for file in directory w/ .html extension

RewriteCond %{REQUEST_FILENAME}\.html -f 

# Showing the page thatt has the .html extension

RewriteRule ^(.*)$ $1.html [NC,L]

# removing index from main page

RewriteRule ^$ .index.html [L,NC]